@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EmployeeViewModel
@{ 
    Model.EmpPassWord = Model.EmpPassWord;

}

<h4>Update Employee</h4>
<h5 class="pull-right">@ViewBag.ReturnMsg</h5>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form asp-action="Update" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="EmpPassWord" class="form-control" readonly hidden/>


                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="ID" class="control-label"></label>
                            <input asp-for="ID" class="form-control" readonly />
                            <span asp-validation-for="ID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="fName" class="control-label"></label>
                            <input asp-for="fName" class="form-control" />
                            <span asp-validation-for="fName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="lName" class="control-label"></label>
                            <input asp-for="lName" class="form-control" />
                            <span asp-validation-for="lName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            @*<input asp-for="Gender" class="form-control" />*@
                            <select asp-for="Gender" class="form-control">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="DoB" class="control-label"></label>
                            <input asp-for="DoB" class="form-control" />
                            <span asp-validation-for="DoB" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="NIC" class="control-label"></label>
                            <input asp-for="NIC" class="form-control" />
                            <span asp-validation-for="NIC" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Contact" class="control-label"></label>
                            <input asp-for="Contact" class="form-control" />
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="EmpRole" class="control-label"></label>
                            <input asp-for="EmpRole" class="form-control" readonly />

                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">

                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <select asp-for="Status" class="form-control">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>
                <br />


                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="reset" value="Cancel" class="btn btn-block btn-info" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-block btn-primary" />
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
