@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EventViewModel
@{
}

<h4>Create Event</h4>
<h5 class="pull-right">@ViewBag.ReturnMsg</h5>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form asp-action="Insert" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<input asp-for="EmpRole" class="form-control" value="Employee" readonly hidden/>*@

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="EventID" class="control-label"></label>
                            <input asp-for="EventID" class="form-control" value="@ViewBag.NewID" readonly />
                            <span asp-validation-for="EventID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="EventTitle" class="control-label"></label>
                            <input asp-for="EventTitle" class="form-control" />
                            <span asp-validation-for="EventTitle" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Publisher" class="control-label"></label>
                            <input asp-for="Publisher" class="form-control" />
                            <span asp-validation-for="Publisher" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Duration" class="control-label"></label>
                            <input asp-for="Duration" min="1" class="form-control" />
                            <span asp-validation-for="Duration" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Location" class="control-label"></label>
                            <input asp-for="Location" class="form-control" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Date" class="control-label"></label>
                            <input asp-for="Date" type="date" class="form-control" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Images" class="control-label"></label>
                            <input asp-for="Images" type="file" class="form-control" multiple/>
                            <span asp-validation-for="Images" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label">Event Handler (Employee ID)</label>
                            <input asp-for="EventRecordHanledBy.ID" class="form-control" />
                            <span asp-validation-for="EventRecordHanledBy.ID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Visibility" class="control-label"></label>
                            <select asp-for="Visibility" class="form-control">
                                <option value="Public">Public</option>
                                <option value="Private">Private</option>
                            </select>
                            <span asp-validation-for="Visibility" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <select asp-for="Status" class="form-control">
                                <option value="Pending">Pending</option>
                                <option value="Completed">Completed</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">

                    </div>

                </div>

                <hr />


                <br />
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="reset" value="Cancel" class="btn btn-block btn-info" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-block btn-primary" />
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

